// Type Object




// Options

$iota-objs-type              : true;

$iota-objs-type-namespace    : 'type-' !default;

$iota-objs-type-sizes-base   : () !default;
$iota-objs-type-sizes-extra  : () !default;




// Private Mixins

@mixin _iota-objs-type-extract-breakpoint-sizes($map) {
  
  @each $breakpoint, $sizes in $map {
     
    @if ( $breakpoint == null ) {
      
      @include _iota-objs-type-extract-sizes($sizes);
    
    } 
    
    @else {
    
      @media #{map-get($iota-global-breakpoints, $breakpoint)} {
    
        @include _iota-objs-type-extract-sizes($sizes);
    
      }
    
    }
      
  }
  
}


@mixin _iota-objs-type-extract-sizes($sizes) {
  
  @if ( length($sizes) == 2 ) {
    font-size: nth($sizes, 1);
    line-height: nth($sizes, 2);
  }
  @else {
    font-size: $sizes;  
  }
  
}




// Public Mixins

@mixin iota-objs-type-base {
  
  @include _iota-objs-type-extract-breakpoint-sizes($iota-objs-type-sizes-base);

}




// Type Sizes

@each $type, $sizes in $iota-objs-type-sizes-extra {
  
  .#{$iota-global-objects-namespace + $iota-objs-type-namespace + $type} {
    @include _iota-objs-type-extract-breakpoint-sizes($sizes);
  }
  
}
